.container {
	width: 90%;
	margin: 0 auto;
	padding: 1em;
}

.hr {
	display: flex;
	align-items: center;
	margin-bottom: 1.5em;
}

.hr div:first-child {
	width: 15%;
	height: 1px;
	background-color: #fff;
}
.hr div:last-child {
	width: 57%;
	height: 1px;
	background-color: #fff;
}

.hr h3 {
	margin: 0 0.4em 0 0.4em;
	width: 25%;
	text-align: center;
}

.form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: left;
}

.form div {
	width: 100%;
	padding: 0.3em;
	font-size: 0.9rem;
}

.form div h6 {
	padding-left: 1em;
	color: tomato;
}

.form input,
.form textarea {
	padding: 0.7em;
	width: 100%;
	border-radius: 6px;
}

.form input:focus,
.form textarea:focus {
	outline: 2px solid rgba(80, 191, 230, 0.7);
}

.form input[type="submit"] {
	width: 50%;
	margin-top: 5px;
}
