.parent {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(3, 1fr);
	grid-column-gap: 0px;
	grid-row-gap: 16px;
	padding: 1em 2em;
}

.parent div {
	min-height: 35vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	overflow: hidden;
	border-radius: 5px;
	position: relative;
}

.parent div:hover div:after {
	height: 100%;
}

.parent div:after {
	content: "";
	width: 100%;
	height: 0;
	transition: all 1s ease;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(200, 200, 200, 0.5);
}

.div1 {
	grid-area: 1 / 1 / 2 / 2;
	background-image: url(./../assets/fardeanblog-herokuapp-com-1024x768desktop-e6276b.jpg);
	background-size: 100% 100%;
	background-position: center;
	background-repeat: no-repeat;
}
.div2 {
	grid-area: 2 / 1 / 3 / 2;
}
.div3 {
	grid-area: 3 / 1 / 4 / 2;
}
